<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>View Invoice</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i> &nbsp;Back</a>
          </div>
        </div>
      </div>       
      <table class="table table-striped table-hover table-bordered table-content">
        <tbody>
          <tr>
            <td>
              <label><b>Invoice Date</b></label>
            </td>
            <td>
              <span>{{ invoiceDetail.firstName }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Biller</b></label>
            </td>
            <td>
              <span>{{ invoiceDetail.lastName }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Amount</b></label>
            </td>
            <td>
              <span>{{ invoiceDetail.email }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Description</b></label>
            </td>
            <td>
              <span>{{ invoiceDetail.address }}</span>              
            </td>
          </tr>
        </tbody>
      </table>       
    </div>
  </div>
</div>

